<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express HTML</title>
</head>
<body>
    <h1>Home Page</h1>
    <h2>By using this example we understand how to render an html page in express</h2>
    <h2>Render html page in express by using ejs</h2>
    <h3>Steps</h3>
    <p>1. first install ejs</p>
    <br>
    <p>2. make a folder that name is views</p>
    <br>
    <p>3.Make a file in views folder . filename like index.ejs</p>
    <br>
    <p>
app.get("/",(req,res)=>{
    res.render('index')
})</p>

</body>
</html>